* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.resources {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vmin;
}

.cards {
  justify-content:center ;
  display: flex;
  flex-wrap: wrap;
}

.eachCard {
  margin: 1vmin;
  border: 5px solid rgb(147, 76, 76);
  padding: 5vmin;
  width: auto;
  height: auto;
}
