/* Hide scrollbar for Chrome, Safari and Opera */
.random::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.random {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}